PORT=3000
NODE_ENV=development
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=irctc
POSTGRES_PASSWORD=password
POSTGRES_DB=irctc_dev
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
PAYMENT_HOLD_TTL_SECONDS=600
JWT_SECRET=supersecretjwt
JWT_REFRESH_SECRET=supersecretrefresh
